:root {
    --ocean: #404BBF;
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

/*---------------------global-----------------------*/
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    color: var(--slate);
    background-color: var(--white);

}

h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

.main-h {
    margin-bottom: 8px;
    color: var(--navy-blue);
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/*---------------------header-----------------------*/
.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.header-logo-a {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--iris);
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    background-color: var(--white);
    padding: 16px 0;
}

.header-logo-word {
    color: var(--grey);
}

.mobile-menu-button {

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    background-color: transparent;
}

.nav-ref {
    display: none;              
}

.header-address {
    display: none;
}

/*---------------------main general----------------*/
main .container {
    margin: 0 auto;
}

/*---------------------main section 1---------------*/
.main-first-secion {
    background-color: var(--navy-blue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    padding: 72px 0;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.main-title {
    color: var(--white);
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    width: 216px;
    margin: 0 auto;
    font-size: 36px;

}

.main-order-button {
    letter-spacing: 0.04em;
    color: var(--white);
    font-weight: 500;
    background: var(--iris);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 72px auto 0;
    min-width: 169px;
    height: 56px;
    border: none;
}

/*---------------------main advantage----------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    font-size: 36px;
}

.advantage-icon {
    display: none;

}

.main-advantage-section {
    padding-bottom: 96px;
    padding-top: 96px;
}

.ul-advantage-section {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.main-h {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.main-p-advantage {
    line-height: 1.5;
    font-weight: 500;
    /*немає у проеуті, але мабуть все ж варто додати*/
    text-align: justify;
}

/*---------------------main team---------------------*/
.main-team-section {
    background-color: var(--cloud); 
    padding-top: 96px;
    padding-bottom: 96px;
}

.ul-team-section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    
}




.div-team-section {
    padding-top: 8px;
    padding-bottom: 32px;
}

.team-card {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-team-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    font-size: 36px;
    margin-bottom: 72px;
}

.main-team-section .main-h {
    text-align: center;
    font-size: 20px;
    margin-top: 32px;
}

.main-p-team {
    line-height: 1.5;
    color: var(--slate);
    text-align: center;
}

.media-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.media-icon-item {
    width: 40px;
    height: 40px;
}

.media-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-icon-svg {
    fill: var(--cloud)
}

/*---------------------main portfolio----------------*/
.main-portfolio-section {
    padding: 96px 0;
}

.ul-portfolio-section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    display: none;
}

.div-portfolio-section {
    border: 1px solid var(--cornflower);
    border-top: none;
    padding: 32px 0;
}

.main-portfolio-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    font-size: 36px;
    margin-bottom: 72px;
}

.main-portfolio-section .main-h {
    text-align: left;
    font-size: 20px;
}

.portfolio-p {
    line-height: 1.5;

}

/*---------------------footer------------------------*/

.footer {
    background-color: var(--navy-blue);
    padding: 96px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer-box-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 72px;
}

.footer-box-media {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 72px;
}

.footer-logo-a {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--iris);
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    background-color: var(--navy-blue);
    display: inline-block;
    margin-bottom: 16px;

}

.footer-logo-word {
    color: var(--cloud);
}

.footer-slogan {
    line-height: 1.5;
    color: var(--cloud);
    max-width: 264px;
}

.footer-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;

}

.footer-icons {
    display: flex;
    gap: 16px;
}

.footer-icon {
    width: 40px;
    height: 40px;
}

.footer-media-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.footer-icon-svg {
    fill: var(--cloud);
}

.footer-form-container {
        display: flex;
        align-items: center;
        flex-direction: column;
}

.subscribe-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
}

.footer-form-input::placeholder {
    color: var(--white);
}

.footer-subscribe-button {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
}

.footer-form-svg {
    margin-left: 16px;
    fill: var(--white);
}
/*---------------------modal window------------------------*/
.modal-overlay-contact {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #2E2F4266;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay-contact.is-open {
    opacity: 1;
    pointer-events: auto;
}


.modal-window-contact {
    min-width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: var(--dairy);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 14px 24px 14px;
}

.close-modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}


.close-button-svg {
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 16px;
}

.form-contact-container {
    margin-bottom: 8px;
}

.label-contact {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    display: block;
    margin-bottom: 4px;
}

.label-contact-container {
    position: relative;
}

.contact-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-input:focus {
    border-color: var(--iris);
}

.form-input-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--navy-blue);
}

.contact-input:focus+.form-input-svg {
    fill: var(--iris);
}

.form-comment-container {
    margin-bottom: 16px;
}

.textarea-contact {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-contact:focus {
    border-color: var(--iris);
}

.textarea-contact::placeholder {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.textarea-contact:focus::placeholder {
    color: var(--iris);
}

.form-checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label-contact {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.manual-check-box {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.input-checkbox:checked+.checkbox-label-contact>.manual-check-box {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

.link-check-box {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
    margin-left: 26px;

}

.form-button {
    font-family: "Roboto", sans-serif;
    display: block;
    border: none;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    margin: 0 auto;
    border-radius: 4px;
}

.form-button:hover,
.form-button:focus {
    background: var(--ocean);
}

/*------------------mobile menu-----------------------*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    transform: translateX(100%); 
    transition: transform 400ms ease-in;
}

.mobile-menu .container{
    position: fixed;
}

.mobile-menu.is-open{
    transform: translateX(0);
}

.mobile-menu .container{
    display: flex;
    flex-direction: column;
    padding: 72px 16px 40px;
    height: 100%;
}

.close-menu-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.menu-links-nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.menu-mobile-nav{
    margin-bottom: auto;
}

.menu-links-nav .mobile-menu-item:not(:last-child){
    margin-bottom: 40px;
}

.menu-links-nav .mobile-menu-link{
    color: var(--navy-blue);
}

.menu-links-nav .active {
    color: var(--ocean);;
}

.menu-mobile-address{
    margin-bottom: 48px;
}

.menu-links-contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
}

.menu-links-contacts .mobile-menu-link {
    color: var(--slate);
}

.menu-links-contacts .mobile-menu-item:first-child .mobile-menu-link{
    color: var(--iris);;
}

.menu-links-contacts .mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-icons {
    display: flex;
    gap: 40px;
}

.mobile-menu-icon {
    width: 40px;
    height: 40px;
}

.footer-media-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon-svg {
    fill: var(--cloud);
}